body  {
background-color: gray;
}

footer {
    text-align: right;
    background-color:gray;
    color:white;
}
.yalper:hover{
    transition: 0.3s;
    transform: scale(0.95,1.10);
    color: gold;
}
.box {
margin: 8px;
background-color: tomato;
border-style: outset;
border-color: goldenrod;
color: ivory;
text-align: center;
border-radius: 10px;
height: 40px;
}

.active{
    background-color: tomato;
}

.bannerbox{
    text-align: center;
    margin-top: 3em;
    padding: 1em;
    height: auto;
    width: 98%;
}

.bodybox{    
    padding: 30px;
    margin: 10px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    
}

.boxlog {
    border-style: solid;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    
}

.centerboxlog{
    margin: 10px;
    padding: 10px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    text-align: left;

}
.bottomboxlog {
    text-align: right;
    margin:10px;
}
.btn-submit2:hover{
    color: black;
    text-shadow: 1px 1px 2px white;

    font-weight: bold;
    transition: 0.5s;
    transform: scale(1.04,1.05);
}
.btn-submit2{
    padding: 5px;
    border-radius: 2px;
    border-style: none;
    background-color: teal;
    color: white;
}   

.btn-submit{
    padding: 5px;
    border-radius: 2px;
    border-style: none;
    background-color: teal;
    color: white;
}   

.btn-submit:hover{
    color: black;
    text-shadow: 1px 1px 2px white;

    font-weight: bold;
    transition: 0.5s;
    transform: scale(1.50,1.50);
    background-image: url(/assets/flag.gif);
    background-size: 40px 25px;
}

.btn-reset:hover{
    background-color: red;
    color: black;
    transition: 1s;
    transform: scale(1.10,1.10);
}
.btn-reset{
    margin-top: 10px;
    padding: 5px;
    border-radius: 2px;
    border-style: none;
    background-color: gray;
    color: white;
}
/*.btn-top{  
    padding: 10px;
    color: yellow   ;
    background-color:gainsboro;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
}*/
.btn-x a:link{
    color: white;
    text-decoration: none;
}

.btn-x:hover{
    transition: 0.3s;
    transform: scale(1.20,1.20);
}
.btnbox{
    margin-left: 0px;
    padding-left: 0px;
}

.btn-x{
        padding: 30px;
        text-decoration: none;
    border-radius: 2px;
    border-width: 4px;
    border-style: outset;
    background-color: tomato;
}

.btn-x a:visited {
    color:white;
}
.indexbox {
    background-color: whitesmoke;
    border-style: unset;
    border-radius: 10px;
    padding: 5px;
    width: 400px;
    
    
}
.title{
    text-align: center;
    border-style: dashed;
    margin: 10px;
    background-color: tomato;

}

.top-textbox{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-decoration: underline;
}
.textbox{
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
    text-indent: 50px;
    
    
}

.title-img{
    text-align: center;
    
}

.querybox {
    background-color: whitesmoke;
    border-style: unset;
    border-radius: 10px;
    padding: 5px;
    width: 800px;
    
}

.centerboxquery{
    text-align: left;
    margin: 2px;
    padding: 10px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
}
.infobox{
    border: 2px solid black;
    background-color: #f9f9f9;
    color: #000;
    margin: .5em 0 .7em 1.2em;
    padding: 0em;
    float: right;
    font-size: 90%;
    line-height: 1.5em;
    
}

.top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: block;
    float: left;
    background-color: black;
}

.btn-menu:hover{
    opacity: .9;
}
.btn-menu a:link{
 text-decoration: none;
}

.btn-menu a:visited{
color: white;  
 }

.btn-menu{
    background-color: tomato;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: 0px;

}

.btn-menu2 a:link{
 text-decoration: none;
}

.btn-menu2 a:visited{
color: white;  
 }

.btn-menu2:hover{
    opacity: .9;

}
.btn-menu2 a{
    color: white;
}
.btn-menu2{
    background-color: tomato;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline:  0px; 
}

.menu{
    position: relative;
    display: inline-block;
    }

.menu-content{
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    border: solid 1px;
    opacity: .9;
    box-shadow: 10px 10px 2px;


}

.menu-content1{
    border: solid 1px;
    left: 161px;
    top: 82.5px;
    opacity: .9;
    min-width:  160px;
    background-color: gray;
    position: absolute;
    display: none;
    box-shadow: 10px 10px 2px;
    
}

/*.ts:hover {
   background-image : url(assets/ts.gif);
   float: left;
   
}*/
.menu-content a {
color: black;
padding:  12px 16px;
text-decoration: none;
display: block;
}
.menu-content1 a {
    color: black;
    padding:  12px 16px;
    text-decoration: none;
    display: block;
    }

.menu-content a:hover{
    background-color: hotpink;
    transition: 0.5s;
    width: 128px;
    /*transform: scale(1.10,1.10);*/
    box-shadow: 1.5px 1.5px inset;
}

.menu:hover .btn-menu{
    background-color: tomato;
    opacity: .6;
    
}

.menu:hover .menu-content{
    display: block;
}


.menu:hover .rx7-menu:hover .menu-content1{
    display: block;
    
}


.player{
    height: 1px;
    width: 2em;
    float: left;
    outline: none;
}