body{
    background-color: rgba(190, 178, 178, 0.966);
}

.caja {

    background-color:whitesmoke ;
    border-style: outset;
    margin: 4em;
    padding: 8px;
    margin-left: 0px;

}

#aceptar {
    padding: 5px;
    background-color: rgb(19, 88, 216);
    color: white;
    border-style: unset
}

#cancelar{
    padding: 5px;
    background-color:grey;
    color: white;
    border-style: unset;
}

.tablebox{
    border: 1px solid black;
    background-color: #f9f9f9;
    color: #000;
    margin: .5em 0 .7em 1.2em;
    padding: .4em;
    clear: right;
    float: right;
    font-size: 90%;
    line-height: 1.5em;
    width: 22.5em;
}



.active{
    background-color: green;
}

ul{
list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
top: 0cm;
left: 0cm;
width: 100%;
position: fixed;
background-color: black;
}

li{
    float: left;
}
li:hover{
    background-color: green;
    opacity: 1;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    float: left;
    
}

.menu-btn{
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
    
}
.btn{
    background-color: green;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}
.menu{
    position: relative;
    display: inline-block;
    }

.dropdown-content{
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
}

.dropdown-content a {
color: black;
padding:  12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover{
    background-color: hotpink;
}

.dropdown:hover . .dropdown-btn{
    background-color: gold;
}

.dropdown:hover .dropdown-content{
    display: block;

}
