body{
    background-color: #eee;
}

.box{
    background-color: white;
    margin: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.red{
    border-left: 2px solid red;
}

.green{
    border-left: 2px solid green;
}

.blue{
    border-left: 2px solid blue;
}

.red:hover{
    transform: scale(1.05,1.05);
}

.blue:hover{
 background-color: #eef;
}

.green:hover{
    box-shadow: 0px 1px 8px rgba(0,0,0,0.3);
}