body{
    background-color: #e5e2e2;
}
.boxred{
text-align: center;
padding: 10px;
margin: 15px;
background-color: white;
width: 160px;
box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
border-left: 2px solid red;
}

.boxgreen{
text-align: center;
padding: 10px;
margin: 15px;
background-color: white;
width: 160px;
box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
border-left: 2px solid green;

}

.boxblue{
    text-align: center;
padding: 10px;
margin: 15px;
background-color: white;
width: 160px;
border-left: 2px solid blue;
box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

}


.boxred:hover{
    transition: 0.3s;
    transform: scale(1.10,1.10);
}
.boxgreen:hover{
    transition: 0.5s;
    box-shadow: 2px 2px 15px rgb(53, 53, 53);
}
.boxblue:hover{
    transition: 0.3s;
 background-color: rgba(0,0,0,0.1);   

}

