body{
    background-color: rgba(190, 178, 178, 0.966);
}

.caja {

    background-color:whitesmoke ;
    border-style: outset;
    margin: 8px;
    padding: 8px;

}

#aceptar {
    padding: 5px;
    background-color: rgb(19, 88, 216);
    color: white;
    border-style: unset
}

#cancelar{
    padding: 5px;
    background-color:grey;
    color: white;
    border-style: unset;





}